.banner{

}

.banner__image {
    width: 100%;
    height: 450px;
    margin-bottom: -104px;

}
.banner__image img {
    object-fit: cover;
    object-position: center;
}

.banner__title {
    width: 987px;
    
}

.banner__title span {
    color: var(--color-accent);
}

.banner__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
    
}
.arrow__link {
    margin-right: 53px;
    cursor: pointer;
  
}