.focus {
    width: calc(33%-40px);
    display: flex;
    justify-content: space-between;
}



.focus__title {
    color: var(--color-white);
    line-height: 28px;
}

.focus__text {
    color: var(--color-white);
    line-height: 28px;

}