.focus {
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    
}

.focus__column {
    /*width: calc(33% - 40px);*/
    margin-right: 40px;
    border-top: 2px solid var(--color-white);
}

.focus__title {
    color: var(--color-white);
    line-height: 32px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.focus__text {
    color: var(--color-white);
    line-height: 28px;

}

.focus__icon {
    margin-top: 20px;
    
}
