.focus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 200px;
    
}

.focus__column {
    width: calc(33% - 40px);
    border-top: 2px solid var(--color-white);

}

.focus__title {
    color: var(--color-white);
    line-height: 32px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.focus__text {
    color: var(--color-white);
    line-height: 28px;

}

.focus__icon {
    margin-top: 20px;
    
}

@media (max-width: 1024px) {
    .focus {
       width: 100%;
       padding-bottom: 130px;

    }

    .focus__column {
        width: 100%;
        margin-bottom: 40px;
    }
}


@media (max-width: 640px) {
    .focus__column {
        width: 100%;
        margin-bottom: 40px;
    }
}