.focus {
    display: flex;
    justify-content: space-between;
}

.focus__column {
    width: calc(33% - 40px);
}

.focus__title {
    color: var(--color-white);
    line-height: 28px;
}

.focus__text {
    color: var(--color-white);
    line-height: 28px;

}