.footer {
    background-color: var(--bg-accent);
    padding: 156px 0px 15px;
}

.mail {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.link {
    margin-right: 20px;
}

.mail__link {
    font-size: 72px;
    font-weight: 400;
    color: var(--color-accent);
    line-height: 80px;
    letter-spacing: -0.005em;
}

.footer__contacts {
    
}

.footer__title {
    margin-bottom: 10px;
}