.header {
    background-color: var(--bg-primary);
    margin-top: -66px;
    margin-bottom: 64px;
    
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

}
.wrapper{
    width: calc(100% - 120px);
    margin: 0 auto;
}
