.investment{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
   

}


.investment__text{
    color: var(--color-white);
    margin-top: 20px;
    margin-bottom: 26px;
    line-height: 28px;
}