.investment{
    width: calc(100% - 40%);
    display: flex;
    margin-bottom: 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.investment__title{
    
}

.investment__text{
    color: var(--color-white);
    margin-bottom: 26px;
    line-height: 28px;
}