.nav__logo {
    color: var(--color-primary);
    position: relative;
    z-index: 100;
}

.nav__link {
    color: var(--color-primary);
    margin-right: 60px;
    letter-spacing: 0.005em;
    position: relative;
}


.nav__link:hover::before {
    opacity: 1;
    transform: scale(1);
}

.nav__link::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    transform: scale(0.5);
    opacity: 0;
    transition: opacity .3s ease, transform .4s ease;
}

.nav__link:last-of-type {
    margin-right: 78px;
}

.nav__button {
    position:relative;
    color: var(--color-white);
    font-size: 18px;
    margin-right: -30px;
    cursor: pointer;
    background: none;
    z-index: 1;
}

.nav__button span {
    position: relative;
    z-index: 2;

}

.nav__button::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: var(--color-accent);
    border-radius: 50%;
    z-index: 0;
    transition: transform .45s ease-in;
}

.nav__button_round {
    width: 174px; 
    height: 174px;
     
}

.nav__button:hover::before {
    transform: scale(90%);
   
}

.nav_active {
    display: flex;
    background-color: var(--color-primary);
    position: fixed;
    inset: 0;
    z-index: 99;
    flex-direction: column;
}

@media (max-width: 1320px) {
    .nav {
        display: none;
    }

    .nav__link {
        margin-bottom: 24px;
        color: var(--color-white);
    }

    .nav.nav_active {
        padding: 80px 40px;
        display: flex;
    }

   /* .nav__logo {
        color: var(--color-white);
      
    }*/
  
}

