.services {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-bottom: 60px;

}

.services__about {
    line-height: 16px;
    margin-bottom: 18px;
    margin-top: 160px;
    color: var( --color-primary);
}

.services__title {
    margin-bottom: 20px;
    color: var( --color-primary);
}

.services__about_text {
    color: var( --color-primary);
    margin-bottom: 26px;
    font-weight: 400;
    line-height: 28px;
}


@media (max-width: 1024px) {
    .services {
       width: 100%;

    }

    .services__about {
        margin-top: 130px;
    }
}
