.solutions {
    display: flex;
    justify-content: space-between;
}

.solutions__column {
    width: calc(33% - 40px);
    background-color: var(--bg-accent);
    padding: 46px 46px 58px 40px;
}

.solutions__icon {
    margin-bottom: 50px;
}

.solutions__title {
    width: 327px;
    margin-bottom: 20px;
}


.ul {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-primary);
    line-height: 28px;
    letter-spacing: 0.005em;
}