.solutions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.solutions__column {
    width: calc(35% - 40px);
    background-color: var(--bg-accent);
    padding: 46px 46px 58px 40px;
}

.solutions__icon {
    margin-bottom: 50px;
}


.solutions__title {
    margin-bottom: 20px;
    color: var( --color-primary);
}



ul, li {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-primary);
    line-height: 28px;
    letter-spacing: 0.005em;
    margin-bottom: 8px;
    padding-left: 16px;
}


@media (max-width: 1024px) {
    .solutions__column {
        width: 100%;
        margin-bottom: 40px;
        padding: 36px 36px 48px 30px;
    }
}

@media (max-width: 640px) {
    .solutions__column {
        width: 100%;
        margin-bottom: 40px;
    }
}