.solutions {
    display: flex;
    justify-content: space-between;
}

.solutions__column {
    width: calc(33% - 40px);
    background-color: var(--bg-accent);
    padding: 46px 123px 58px 40px;
}

.solutions__icon {
    margin-bottom: 50px;
}