.studies {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: 180px;

}

.studies__about {
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.0055em;
    color: var( --color-primary);
    margin-bottom: 12px;
    margin-top: 180px;
  
}

.studies__title {
    margin-bottom: 20px;
    color: var( --color-primary);
}

.studies__about_text {
    color: var( --color-primary);
    margin-bottom: 26px;
    font-weight: 400;
    line-height: 28px;
}

@media (max-width: 1024px) {
    .studies {
       width: 100%;
       margin-bottom: 150px;
    }

    .studies__about {
        margin-top: 150px;   
    }
}
