

.team__banner{
    width: 100%;
    height: 450px;
    margin-bottom: 60px;

}
.team__banner img{
    object-fit: cover;
    object-position: center;
}

.team__text {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: 200px;
}

.team__about {
    color: var( --color-primary);
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.005em;
    margin-bottom: 26px;
}

@media (max-width: 1024px) {
    .team__text {
       width: 100%;
       margin-bottom: 170px;

    }
}