 h1, .h1{
    font-size: 78px;
    font-weight: 700;
    letter-spacing: -0.005em;
}

h2, .h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-white);
    line-height: 54px;
    letter-spacing: -0.005em;
}

h3, .h3 {
    font-weight: 700;
    color: var(--color-primary);
    line-height: 54px;
    letter-spacing: -0.005em;
}

h4 {
    font-weight: 700;
    color: var(--color-primary);
    line-height: 32px;
    letter-spacing: -0.0025em;
}

p, .link, .text, .nav__link, .nav__logo {
    font-size: 18px;
    letter-spacing: 0.005em;
}

.text_small {
    font-size: 12px;
}

.text_medium {
    font-size: 24px;
}

.text_large {
    font-size: 48px;
}


@media (max-width: 640px) {
    h1, .h1 {
        font-size: 34px;
    }
    h2, .h2 {
        font-size: 34px; 
    }
    p, .link, .text, .nav__link, .nav__logo {
        font-size: 18px;
    }
    .text_small {
        font-size: 14px;
    }
    .text_medium { 
        font-size: 18px;
    }
    .text_large {
        font-size: 24px;
    }
    
}


@media (max-width: 1024px) {
    h1, .h1 {
        font-size: 48px;
    }
    h2, .h2 {
        font-size: 36px; 
    }
    p, .link, .text, .nav__link, .nav__logo {
        font-size: 18px;
    }
    .text_small {
        font-size: 14px;
    }
    .text_medium { 
        font-size: 18px;
    }
    .text_large {
        font-size: 26px;
    }
}